{{define "sidebar"}}
{{if .Content.IsSelf}}
<a
  href="/lists/create"
  class="btn btn-primary btn-block"
>Create new list {{icon "caret-right"}}</a>
{{end}}
{{end}}
{{define "content"}}
{{if or .Content.Lists .Content.Search}}
<form>
  <input
    name="search"
    type="text"
    placeholder="Search ~{{.Content.User}}'s mailing lists"
    class="form-control"
    value="{{.Content.Search}}" />
  {{/* invalid-feedback, when the search terms do not parse */}}
</form>
{{end}}

{{if and .Content.Search (not .Content.Lists)}}
<div class="alert alert-warning">
  No mailing lists found for "{{.Content.Search}}".
</div>
{{else if not .Content.Lists}}
<div class="alert alert-info">
  This user does not have any mailing lists.
</div>
{{end}}

<div class="event-list">
  {{range .Content.Lists}}
  <div class="event">
    <h4>
      <a href="/{{.FullName}}"
      >{{.FullName}}</a>
      {{if ne .Visibility "PUBLIC"}}
      <small class="pull-right">
        {{lower .Visibility}}
      </small>
      {{end}}
    </h4>
    {{if .Description}}
    {{markdown .Description}}
    {{end}}
    {{if .LastActivity}}
    <span class="text-muted">Last active {{date .LastActivity}}</span>
    {{end}}
  </div>
  {{end}}
</div>

{{template "pagination" .}}
{{end}}
