{# FORK: shadows srht/templates/nav.html (listssrht's PackageLoader is first
   in the ChoiceLoader). Upstream's version links "Log in", "Register" and the
   logged-in username at meta.sr.ht, which doesn't exist here. Everything else
   is unchanged from upstream. #}
<span class="navbar-brand">
  {{icon('circle')}}
  <a class="navbar-brand" href="/">
    {{site_name}}
    <span class="text-danger">{{site.split(".")[0]}}</span>
  </a>
</span>
<ul class="navbar-nav">
</ul>
<div class="login">
  {% if current_user %}
  <span class="navbar-text">
    Logged in as
    <a href="/~{{current_user.username}}">{{current_user.username}}</a>
    &mdash;
    <a href="{{logout_url}}">Log out</a>
  </span>
  {% else %}
  <span class="navbar-text">
    <a href="{{login_url}}" rel="nofollow">Log in</a>
  </span>
  {% endif %}
</div>
