{% extends "list.html" %}
{% block title %}
<title>
  {{ owner.canonical_name }}/{{ ml.name }} settings &mdash; {{ cfg("sr.ht", "site-name") }} lists
</title>
{% endblock %}

{% block content %}
<div class="header-extension">
  <div class="container">
    <div class="subnav">
      <ul class="nav nav-tabs">
        {% macro tab(link, title) %}
        <li class="nav-item">
          <a
            class="nav-link {% if subview == title %}active{% endif %}"
            href="{{ link }}">{{ title }}</a>
        </li>
        {% endmacro %}
        {{tab(url_for("settings.info_GET",
          owner_name=owner.canonical_name,
          list_name=ml.name), "info")}}
        {{tab(url_for("settings.access_GET",
          owner_name=owner.canonical_name,
          list_name=ml.name), "access")}}
        {{tab(url_for("settings.content_GET",
          owner_name=owner.canonical_name,
          list_name=ml.name), "content")}}
        {{tab(url_for("settings.import_export_GET",
          owner_name=owner.canonical_name,
          list_name=ml.name), "import/export")}}
        {{tab(url_for("settings.delete_GET",
          owner_name=owner.canonical_name,
          list_name=ml.name), "delete")}}
      </div>
    </div>
  </div>
</div>
{% block settings %}
{% endblock %}
{% endblock %}
